div
  form#new-object-form(role='form', action='/hash/#{objectname}/new', method='POST')
    h2.form-signin-heading New #{objectname} event
    .form-group
      input.form-control(type='text', name='name', placeholder='event name')
    .form-group
      input.form-control(type='datetime-local', name='date', value=(new Date()).toISOString().slice(0, 16))
  
    button.btn.btn-primary.btn-block(type='submit') Submit
  
    if errors
      if errors.length
        h2 Errors!
        p=errors

  script(src='/javascripts/gamecreation.js')
