extends layout

block content
  .outermost
    .head
      span.icon
        a(href='/') sportsync
      .items
        if user
          a(href="/#/account/") #{user.username}

        else
          .dropdown.alink#account-dropdown-container
            button#account-drop.btn.btn-default.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='true')
              | Account 
              span.caret
            ul.dropdown-menu.dropdown-menu-right(aria-labelledby='account-drop')
              li
                a(href='/account/login') Log in
              li
                a(href='/account/register') Register
              li.divider(role='separator')
              li
                a(href='#') Admin

          a.alink.btn(href='/account/register') Register
          a.alink.btn.btn-primary(href='/account/login') Log in
      
    .center
      #wrapper.wrapper
        .outer#index(hash-url='index', static=true).active
          .inner
            h1 Welcome!
            h3
              | Create a 
              //select.selectpicker
              select#game-select
                option(value="soccer") Soccer
                option(value="frisbe") Frisbe
                option(value="swimming") Swimming
              | 
              span#game-noun game
            button#start-button.btn.btn-default.btn-lg Start!

        .outer#loading(hash-url='loading', static=true)
          .loading
            h4 LOADING

    .foot
      span sportsync

block scripts
  script(src='/javascripts/index.js')
